# **Proceso de ETL**

#### En este notebook realizaremos la extracción, transformación y carga (`ETL`) de los conjuntos de datos proporcionados

In [21]:
# Librerias a utilizar
import pandas as pd

---

## En primer lugar, importamos los conjuntos de datos que vamos a utilizar y los observamos.

In [22]:
amazon = pd.read_csv("Datasets/amazon_prime_titles.csv")
amazon.sample()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
671,s672,TV Show,The Fades,NaN,"Iain De Caestecker, Daniel Kaluuya, Tom Ellis,...",NaN,NaN,2011,TV-14,1 Season,Drama,"A smart, supernatural thriller about two frien..."

In [23]:
disney = pd.read_csv("Datasets/disney_plus_titles.csv")
disney.sample()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
544,s545,Movie,Nature's Half Acre,James Algar,Winston Hibler,United States,"May 1, 2020",1951,TV-PG,33 min,"Animals & Nature, Documentary, Family",The strange and wonderful world that lies bene...

In [24]:
hulu = pd.read_csv("Datasets/hulu_titles.csv")
hulu.sample()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
897,s898,Movie,Farewell Amor,NaN,NaN,NaN,"March 12, 2021",2020,NaN,102 min,"Black Stories, Drama","Reunited after 17 years apart, an Angolan immi..."

In [25]:
netflix = pd.read_csv("Datasets/netflix_titles.csv")
netflix.sample()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
6325,s6326,Movie,Black Panther,Ryan Coogler,"Chadwick Boseman, Michael B. Jordan, Lupita Ny...",United States,"September 4, 2018",2018,PG-13,135 min,"Action & Adventure, Sci-Fi & Fantasy","T'Challa, the superpowered new leader of the h..."

---

#### Al observarlos, podemos notar que todos tienen la misma estructura de columnas. Por lo tanto, podemos concatenarlas fácilmente.
#### Pero antes debemos generar la primera transformación que se nos solicita que es particular en cada tabla :
+ Generar campo **`id`**: Cada id se compondrá de la primera letra del nombre de la plataforma, seguido del show_id ya presente en los datasets (ejemplo para títulos de Amazon = **`as123`**)

In [26]:
# Generamos el nuevo campo "id" concatenando el "show id" + la letra que corresponda
amazon["id"] = "a" + amazon["show_id"] # letra A
disney["id"] = "d" + amazon["show_id"] # letra D
hulu["id"] = "h" + amazon["show_id"] # letra a H
netflix["id"] = "n" + amazon["show_id"] # letra a N

#### Una vez creado el id para cada tabla, procedemos a concatenarlas

In [27]:
# Concatenamos
df_streaming = pd.concat([amazon,disney,hulu,netflix]) 
df_streaming.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,as1
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,as2
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,as3
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",as4
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,as5

In [28]:
# Checkeamos que se haya concatenado correctamente. Por lo que podemos observar se concatenó correctamente 
print("registros totales: ",len(amazon) + len(disney) + len(hulu) + len(netflix))
print("registros totales al concatenar: ",len(df_streaming))

registros totales:  22998
registros totales al concatenar:  22998

In [29]:
# Observamos
df_streaming.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 8806
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       22998 non-null  object
 1   type          22998 non-null  object
 2   title         22998 non-null  object
 3   director      14739 non-null  object
 4   cast          17677 non-null  object
 5   country       11499 non-null  object
 6   date_added    13444 non-null  object
 7   release_year  22998 non-null  int64
 8   rating        22134 non-null  object
 9   duration      22516 non-null  object
 10  listed_in     22998 non-null  object
 11  description   22994 non-null  object
 12  id            22998 non-null  object
dtypes: int64(1), object(12)
memory usage: 2.5+ MB

---

#### Ahora procedemos a realizar las siguientes transformaciones solicitadas

# **`Transformaciones`**:

+ #### Los valores nulos del campo rating deberán reemplazarse por el string “**`G`**” (corresponde al maturity rating: “general for all audiences”

In [30]:
# Utilizamos el fillna para imputar el string "G"
df_streaming["rating"].fillna("G",inplace=True)

+ #### De haber fechas, deberán tener el formato **`AAAA-mm-dd`**

In [31]:
# Colocamos el formato adecuado de fecha
df_streaming["date_added"] = pd.to_datetime(df_streaming.date_added)

+ #### Los campos de texto deberán estar en **minúsculas**, sin excepciones

In [32]:
#Creacion de una lista con con el nombre de las columnas que no son de tipo numericos para realizar su transformacion a minusculas
columns = df_streaming.columns.drop(['release_year','date_added'])
# Iteramos aplicando el lower de pandas
for i in columns : 
    df_streaming[i] = df_streaming[i].str.lower()

+ #### El campo ***duration*** debe convertirse en dos campos: **`duration_int`** y **`duration_type`**. El primero será un integer y el segundo un string indicando la unidad de medición de duración: min (minutos) o season (temporadas)

In [33]:
# Utilizamos el método str.split para separar el campo "duration" a través del espacio 
df_streaming[["duration_int", "duration_type"]] = df_streaming["duration"].str.split(" ", n=1, expand=True)

# Colocamos el tipo de dato correcto para "duration_int"
df_streaming["duration_int"] = df_streaming["duration_int"].astype("Int64")

# Unificamos "seasons" y "season" en la columna duration_type
df_streaming.loc[df_streaming['duration_type']=='seasons', 'duration_type'] = 'season'

---

#### Para las posteriores consultas es necesario tenes la columna "`score`" , la cual se puede obtener promediando los ratings de todos los usuarios del dataset con reseñas para cada película.

In [34]:
# Importamos los data sets de la carpeta "Datasets_ratings", son en total 8 y lo hacemos mediante un ciclo while
i = 1
df1 = pd.read_csv(f"Datasets_ratings/{i}.csv")
i += 1
while i <= 8 :
    df = pd.read_csv(f"Datasets_ratings/{i}.csv")
    df_concat = pd.concat([df1,df])
    df1 = df_concat
    i += 1
df_ratings = df_concat
# Al ser un archivo muy pesado, lo comprimimos y exportamos
df.to_parquet("Datasets_ratings/ratings_parquet",engine='fastparquet',compression="gzip")
df_ratings

         userId  rating   timestamp movieId
0             1     1.0  1425941529   as680
1             1     4.5  1425942435  ns2186
2             1     5.0  1425941523  hs2381
3             1     5.0  1425941546  ns3663
4             1     5.0  1425941556  as9500
...         ...     ...         ...     ...
1499995  124380     4.5  1196786159  ns5272
1499996  124380     2.5  1196786030  ns5492
1499997  124380     3.5  1196785679   hs305
1499998  124380     4.5  1196787089  ns7881
1499999  124380     1.5  1196785847   as883

[11024289 rows x 4 columns]

In [35]:
# Renombramos las columnas
df_ratings.rename(columns = {"movieId" : "id", "rating" : "score"},inplace=True)

# Necesitamos el promedio de cada pelicula
promedio_peliculas = df_ratings.groupby('id')['score'].mean().round(2)

# Renombramos a la columna como score
promedio_peliculas = promedio_peliculas.rename("score").reset_index()

# Observamos
promedio_peliculas

           id  score
0         as1   3.47
1        as10   3.44
2       as100   3.61
3      as1000   3.56
4      as1001   3.59
...       ...    ...
22993   ns995   3.52
22994   ns996   3.63
22995   ns997   3.53
22996   ns998   3.58
22997   ns999   3.49

[22998 rows x 2 columns]

In [36]:
# Agregar los promedios como una nueva columna en el DataFrame principal
df_streaming = df_streaming.merge(promedio_peliculas, on='id')

# Comprobar que se realizo correctamente
df_streaming[df_streaming["id"] == "ns995"]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id,duration_int,duration_type,score
15185,s995,movie,this lady called life,kayode kasum,"bisola aiyeola, efa iwara, molawa onajobi, tin...",nigeria,2021-04-23,2020,tv-14,120 min,"dramas, international movies, romantic movies","abandoned by her family, young single mother a...",ns995,120,min,3.52

#### Por último se procede a eliminar las columnas que no serán utilizadas por la `API`, para mejorar la performance de ésta.

In [37]:
# Pero antes lo exportamos completo 
df_streaming.to_csv('Datasets/df_streaming_completo.csv', index=False)
# Dropeamos las columnas
df_streaming.drop(["show_id","description","duration","director"],axis=1,inplace=True)

In [38]:
# Observamos con .info
df_streaming.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 22997
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   type           22998 non-null  object
 1   title          22998 non-null  object
 2   cast           17677 non-null  object
 3   country        11499 non-null  object
 4   date_added     13444 non-null  datetime64[ns]
 5   release_year   22998 non-null  int64
 6   rating         22998 non-null  object
 7   listed_in      22998 non-null  object
 8   id             22998 non-null  object
 9   duration_int   22516 non-null  Int64
 10  duration_type  22516 non-null  object
 11  score          22998 non-null  float64
dtypes: Int64(1), datetime64[ns](1), float64(1), int64(1), object(8)
memory usage: 2.3+ MB

In [39]:
# Observamos una muestra
df_streaming.sample(3)

,type,title,cast,country,date_added,release_year,rating,listed_in,id,duration_int,duration_type,score
459,movie,the ruins,"jonathan tucker, jena malone, laura ramsey, sh...",NaN,NaT,2008,r,horror,as460,91,min,3.52
18101,movie,bollywood calling,"om puri, pat cusick, navin nischol, perizaad z...",india,2019-04-15,2001,tv-ma,"comedies, dramas, international movies",ns3911,102,min,3.57
212,tv show,upload,"robbie amell, andy allo, allegra edwards, zain...",united states,NaT,2020,16+,comedy,as213,1,season,3.45

In [40]:
# Exportamos el DataFrame con las transformaciones realizadas para su posterior consulta
df_streaming.to_csv('Datasets/df_streaming.csv', index=False)